.questionContainer {
   display: flex;
   flex-direction: column;
   gap: 8px;
   background-color: #343434;
   padding: 20px;
   border-radius: 12px;
   margin: 12px;
}

.optionsContainer {
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.option {
   display: flex;
   gap: 12px;
}
